<div class="image-tag">
    <div class="image">
        <img src="/{{thumbnail}}">
    </div>
    <div class="image-title">
        <p class="image-title">{{title}}</p>
    </div>
    <div class="post-details">
        <a class="post-details" href="/posts/{{id}}">post details</a>
    </div>

</div>