<div class="image-tag">
    <img class="image" src="/{{thumbnail}}">
    <div class="image-title">
        <p class="image-title">{{title}}</p>
        <a class="post-details" href="/posts/{{id}}">post details</a>
    </div>
</div>