<main class="main-content" id="main-content">
  {{#if (nonEmptyObject messages)}}
  {{> flashmessage this}}
  {{/if}}
  <div class="post-pool">
    {{#each posts}}
    {{>card this}}
    {{/each}}
  </div>

</main>