<main class="main-content">
  <fieldset class="login-form-container">
    {{!-- <legend>Log In Information</legend> --}}
    <form class="login-form form" action="/users/login" method="POST" enctype="application/x-www-form-urlencoded" autocomplete="off">
      <h2 class="login-form-title">Login Form</h2>
      {{#if (nonEmptyObject messages)}}
      {{> flashmessage this}}
      {{/if}}
      <div class="input-group">
        <label for="username">Username</label>
        <input class="input-text" type="text" name="username" id="username" placeholder="Username" />
      </div>
      <div class="input-group">
        <label for="password">Password</label>
        <input class="input-text" type="password" name="password" id="password" placeholder="Password" />
      </div>
      <div>
        <P>have no account? <a href="/register">register</a> now!</P>
      </div>
      <div class="button-group">
        <input class="form-button submit-button" name="submitButton" type="submit" value="Submit">
      </div>
    </form>
  </fieldset>
</main>