<main class="main-content">
  <div class="login-form-container">
    <h2 class="login-form">Login Form</h2>
    <form class="login-form form" action="login.html">
      <div class="input-group">
        <label for="username">Username</label>
        <input class="input-text" type="text" name="username" id="username" placeholder="Username" />
      </div>
      <div class="input-group">
        <label for="password">Password</label>
        <input class="input-text" type="password" name="password" id="password" placeholder="Password" />
      </div>
      <div class="button-group">
        <input class="form-button submit-button" type="submit" value="Submit">
      </div>
    </form>
  </div>
</main>