<main class="main-content">
  <h2>profile</h2>
  <div class="user-info">
    <h5>{{user.username}}</h5>
    <h5>{{user.email}}</h5>
  </div>
  <ul class="comment-list">
    <li class="comment-view">This is the first post.</li>
    <li class="comment-view">This is the second post.</li>
    <li class="comment-view">This is the third post.</li>
  </ul>
</main>