<main class="main-content">
    <h3>Duck In The Swimming Pool</h3>
    <h5>Ruxue Jin</h3>
        <h5>3/10/2012</h3>
            <div class="video-container">
                <video class="video" src="/public/duck.mp4" controls autoplay loop muted>
                    Your browser does not support the video tag.
                </video>
            </div>

            <ul class="comment-list">
                <li class="comment-view">This is the first comment...</li>
                <li class="comment-view">This is the second comment...</li>
                <li class="comment-view">This is the third comment...</li>
                <li class="comment-view">This is the fourth comment...</li>
                <li class="comment-view">This is the fifth comment...</li>
            </ul>
</main>