:root{
  --site-bg: whitesmoke;
  --text-rounded-corner: 0.35rem;
  --footer-header-bg:#70004b;
  --navbar-color:rgb(130, 129, 129);
  --link-color:rgb(47, 66, 241);
  --form-margin:20px;
}

*,
*::after,
*::before{
  box-sizing: border-box;
  /* margin: auto; */
}

html{
  font-size: 16px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: var(--site-bg);
  margin:0px;
}

nav ul{
  display: grid;
  grid-auto-flow: column;
  list-style: none;
  margin: 0;
  background-color: var(--navbar-color);
  font-size: 1rem;
  padding: 12px;
  text-align: center;
}

ul li a {
  color: whitesmoke;
  text-decoration: none;
  margin: auto;
}

li a:hover{
  color:#70004b;
}

form a{
  color: var(--link-color);
}

form a:active{
  color: #540dce;
}

h1{
  color: #f1f1f1;
  background-color: var(--footer-header-bg);
  text-align:center;
  font-size:2rem;
  padding:20px;
  margin: 0px;
}

h2{
  color: rgb(50, 48, 48);
  text-align:center;
  font-size:1.6rem;
  padding:20px;
  margin: 10px;
}

form{
  display: grid;
  grid-auto-flow: rows;
  gap:20px;
  width:30%;
  font-size: 1rem;
  margin:auto;
}

/* .checkbox-group{
  margin-left: 135px;
  */

.input-group{
  display: flex;
  flex-direction:column;

}


.input-text{
  width: 100%;
  padding: 4px 8px;
  border:1px solid #cacaca;
  border-style: dashed;
  border-radius: var(--text-rounded-corner);
  box-shadow:1px 0px 5px 2px #d5c9c9;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button-group{
  margin: auto;
  display: flex;
}

.form-button{
  /* width: 80%; */
  color: black;
  border: 1px solid black;
  padding: 4px 10px;
  margin: 5px 10px;
}

.reset-button{
  background-color: #e85757;
}
.reset-button:hover{
  background-color: #cc3333;
}

.submit-button{
  background-color: #09bd7b;
}

.submit-button:hover{
  background-color: #1fa172;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}


.site-footer{
  color: #f1f1f1;
  background-color: var(--footer-header-bg);
  text-align:center;
  font-size:1rem;
  padding:10px;
}

.column{
  float:left;
  width: 33.33%;
}

.row:after{
  content:"";
  display: table;
  clear:both;
} 

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}